/* GENERAL */
body {
  text-align: center;
}

section {
  margin-top: 85px;
  padding-top: 15px;
  padding-bottom: 15px;

}

h1,
h2,
h3,
#why hr {
  margin: 15px auto;
}

h1,
h2 {
  font-size: 2rem;
}

img {
  height: 200px;
}

.grey {
  background-color: #ececec;
}

/* WHY SECTION */
#why .wrap-container > div {
  margin-top: 80px;
}

#why img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* RESPONSIVE */
/* TABLET MD 768px - 991px */
@media screen and (max-width: 991px) {
  
  #steps div.col-md-6:last-of-type {
    margin-top: 25px;
  }
  
  #why h1 {
    margin: 0;
  }
  
  #why .wrap-container > div {
    margin-top: 40px;
  }
  
  #why hr {
    width: 50%;
  }
}

/* MOBILE XS < 768px */
@media screen and (max-width: 767px) {
  
  /* GENERAL */
  body {
    font-size: 1.25rem;
  } 

  img {
    height: auto;
    width: 200px;
    max-width: 100%;

  }

  /* MAIN CONTENT  */
  .wrap-container {
    padding-bottom: 20px;
  }
  .wrap-container > div {
    padding-bottom: 40px;
  }

  #steps div.col-md-6:last-of-type {
    margin-top: 0px;
  }

  /* WHY SECTION */
  /* width img with blue background = width img */
  #why .row img {
    width: calc(200px - 60px);
  }
}